<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliu.server.modules.platform.mapper.XlTenantMapper">
    
    <resultMap type="com.xiliu.server.modules.platform.entity.XlTenant" id="XlTenantResult">
        <result property="tenantId"    column="tenant_id"    />
        <result property="tenantType"    column="tenant_type"    />
        <result property="tenantStatus"    column="tenant_status"    />
        <result property="tenantCode"    column="tenant_code"    />
        <result property="tenantName"    column="tenant_name"    />
        <result property="tenantLogo"    column="tenant_logo"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="homeUrl"    column="home_url"    />
        <result property="phone"    column="phone"    />
        <result property="fax"    column="fax"    />
        <result property="email"    column="email"    />
        <result property="address"    column="address"    />
        <result property="userName"    column="user_name"    />
        <result property="userPwd"    column="user_pwd"    />
        <result property="packageId"    column="package_id"    />
        <result property="tenantTime"    column="tenant_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="createdBy"    column="created_by"    />
        <result property="deleted"    column="deleted"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectXlTenantVo">
        select tenant_id, tenant_type, tenant_status, tenant_code, tenant_name, tenant_logo, sort_order, home_url, phone, fax, email, address, user_name, user_pwd, package_id,tenant_time, remarks, updated_time, updated_by, created_time, created_by, deleted, version from xl_tenant
    </sql>

    <select id="selectXlTenantList"  resultType="com.xiliu.server.modules.platform.vo.TenantResultVo">
        <include refid="selectXlTenantVo"/>
        <where>
            deleted = 0
        </where>
        <if test="tenantName != null and tenantName != ''">
            AND tenant_name like concat('%', #{tenantName}, '%')
        </if>
        <if test="tenantStatus != null and tenantStatus != ''">
            AND tenant_status = #{tenantStatus}
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(tenant_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(tenant_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
    </select>
    
    <select id="selectXlTenantByTenantId" parameterType="Long" resultMap="XlTenantResult">
        <include refid="selectXlTenantVo"/>
        where tenant_id = #{tenantId}
    </select>

    <delete id="deleteTenantByIds" parameterType="String">
        delete from xl_tenant where tenant_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>